/**
 * Layout
 *
 * Contains styling of layout elements
 *
 * @author magnify
 */


/* Header
   ========================================================================== */

.header {
  background-color: $green;

  @include zen-grid-container();
}

.header--inner {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;

  @include first-breakpoint() {
    max-width: 48em;
  }
}


/* Logo
   ========================================================================== */

.logo--link {
  display: inline-block;
  max-width: 100%;
  padding-top: 1.25em;
  padding-bottom: .75em;

  text-align: center;

  @include first-breakpoint() {
    max-width: 5.625em;
  }
}

.logo--image {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;

  @include first-breakpoint() {
    max-width: 100%;
  }
}



/* Navigation
   ========================================================================== */

.responsive-nav {
  text-align: center;

  @include first-breakpoint() {
    padding-top: 1em;
    padding-bottom: 1em;

    text-align: right;

    @include zen-grid-item(8, 1, right);

    /* Padding should come from parent element, so let's make sure left and right padding is removed */
    @include zen-nested-container();
  }
}

/* Using a variable so we only have to set the size once */
$responsive-nav-link-dimensions: 2.5em;

.responsive-nav--link {
  display: block;
  position: relative;
  height: $responsive-nav-link-dimensions;
  width: $responsive-nav-link-dimensions;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;

  background-color: transparentize($white, .75);
  font-size: 125%;
  line-height: $responsive-nav-link-dimensions;
  text-align: center;
  vertical-align: middle;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    background-color: transparentize($white, .5);
  }

  @include border-radius(100%);

  @include first-breakpoint() {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .25em;
  }

  @include second-breakpoint() {
    margin-left: 1em;
  }
}

/* Make the mail icon bigger */
.responsive-nav--link-mail {
  @extend .responsive-nav--link;

  i[class^="icon-"] {
    font-size: 125%;
  }
}

/* Make the menu icon bigger */
.responsive-nav--link-menu {
  @extend .responsive-nav--link;

  i[class^="icon-"] {
    font-size: 150%;
  }
}


/* Notifications
   ========================================================================== */

$notification-dimensions: 2em;

.notification {
  display: inline-block;
  position: absolute;
  top: -.5em;
  right: -.5em;
  height: $notification-dimensions;
  width: $notification-dimensions;

  background-color: $red;
  font-size: 65%;
  text-decoration: none;
  line-height: $notification-dimensions;
  text-align: center;
  vertical-align: middle;

  &:link,
  &:visited {
    text-decoration: none;
  }

  @include border-radius(100%);
}