/**
 * Variables
 *
 * @author magnify
 */



/* Zen grid
   ========================================================================== */

$zen-column-count: 12;
$zen-gutter-width: 30px;



/* Layout colors
   ========================================================================== */

$white:                               #fff;
$green:                               #3e8c2d;
$red:                                 #ff6138;



/* Link colors
   ========================================================================== */

$link-color:                          #04bfbf;
