/**
 * Search module
 *
 * @author magnify
 */


.search {
  @include zen-grid-item(12, 1);
}

.search--inner {
  @extend %set-max-width-and-center-element;

  padding-top: 2em;
}

.search--field-wrapper {
  position: relative;

  .search--icon {
    position: absolute;
    bottom: .25em;
    left: .15em;

    color: $gray;
    font-size: 200%;
  }

  .search--field {
    padding-left: 3em;
  }
}

