@font-face {
  font-family: 'loop-icons';
  src: url('/icons/loop-icons.eot?13839276');
  src: url('/icons/loop-icons.eot?13839276#iefix') format('embedded-opentype'),
       url('/icons/loop-icons.woff?13839276') format('woff'),
       url('/icons/loop-icons.ttf?13839276') format('truetype'),
       url('/icons/loop-icons.svg?13839276#loop-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "loop-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}
 
.icon-mail:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e800'; } /* '' */